$base-color: #7952b3;
$sub-color: #ffe484;
$button-color: #007bff;
$sub-button-color: #6c757d;

.custom-button {
  width: auto;
  max-width: 300px;
  height: 40px;

  padding: 0px 25px 0px 25px;
  letter-spacing: 0.5px;
  font-size: 15px;
  background-color: $sub-button-color;

  &.important {
    background-color: $button-color;
  }
  color: white;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
