$sub-color: grey;
$main-color: black;

.gamepage {
  position: relative;
  height: calc(90vh - 70px);
  font-size: 18px;
  text-align: justify;

  .title {
    font-size: 24px;
    margin: auto 0;
    padding: 15px 0 25px 0;
  }

  .text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50%;

    .question,
    .answer {
      height: 100%;
      width: 48%;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }
      &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
      }
    }
  }

  .interaction {
    //margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .try {
      width: 48%;
      display: flex;
      align-items: center;
    }

    input {
      background: none;
      background-color: white;
      color: $sub-color;
      flex-grow: 1;
      margin-right: 20px;
      font-size: 18px;
      padding: 10px 10px 10px 5px;
      display: block;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $sub-color;

      &:focus {
        outline: none;
      }
    }
    .judge {
      width: 48%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .title {
      padding: 0;
    }
  }
}
