.gamepage {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  height: calc(80vh - 70px);
  align-items: center;

  .question-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    padding: 10px;
    height: 60vh;
    background-color: #eee;

    .title {
      font-size: 24px;
      padding: 30px 0;
    }
  }

  .answer-card {
    display: flex;
    flex-wrap: wrap;
    height: 60vh;
    width: 40%;
    background-color: #eee;

    .top,
    .bottom {
      width: 100%;
    }

    input {
      height: 50px;
      font-size: 24px;
    }

    .info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .title {
      font-size: 24px;
      padding: 10px 0;
    }
  }
}
