.gamepage {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  height: calc(80vh - 70px);
  align-items: center;

  .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 52%;
    padding: 10px;
    background-color: #eee;

    .title {
      font-size: 24px;
      padding: 15px 0;
    }
  }

  .right {
    display: flex;
    flex-wrap: wrap;
    width: 42%;
    background-color: #eee;

    input {
      height: 50px;
      font-size: 24px;
    }

    .info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .title {
      font-size: 24px;
      padding: 10px 0;
    }
  }
}
