$base-color: #7952b3;

.game-item {
  overflow-x: visible;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: 1px solid #777;
  border-left: 1px solid #777;
  &.first {
    padding-right: 4px;
    border-top: 1px solid #777;
    border-right: 1px solid #777;
  }

  &:hover {
    box-shadow: inset 0px 0px 5px 0px #4c7899;
  }

  &.selected {
    border-top: 2px solid $base-color;
    border-bottom: 2px solid $base-color;
  }

  &.grey {
    background-color: #eeeeee;
  }
  .game-item-characteristic {
    span {
      margin: auto;
    }
    width: 60px;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-left: 1px solid #777;
    &.combinate {
      display: none;
    }
    &.autori {
      flex-grow: 6;
    }
    &.sezonul {
      flex-grow: 3;
    }
    &.etapa,
    &.nivel,
    &.nr_intrebari {
      flex-grow: 2;
    }
    &.id {
      border-left: none;
      flex-grow: 0;
    }
  }
}

@media (max-width: 767.98px) {
  .game-item {
    height: 38px;
    &:hover {
      box-shadow: none;
    }
    &.first {
      height: 40px;
    }
    .game-item-characteristic {
      height: 100%;

      &.nr_intrebari {
        display: none;
      }
      &.autori {
        padding: 0 5px;
        font-size: 0.75rem;
        flex-grow: 12;
      }
    }
  }
  &.first > .game-item-characteristic.autori {
    font-size: 1rem;
  }
}

@media (max-width: 575.98px) {
  .game-item {
    .game-item-characteristic {
      &.sezonul,
      &.nivel,
      &.etapa {
        display: none;
      }
      &.combinate {
        display: flex;
        padding: 0 2px;
        flex-grow: 7;
      }
      &.id {
        width: 40px;
      }
    }
  }
}

@media (max-height: 400px) {
  .game-item {
    height: 38px;
    &.first {
      height: 40px;
    }
  }
}
