.game-list {
  width: 100%;
  height: calc(90vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  input {
    background: none;
    color: grey;
    font-size: 1.1rem;
    padding: 10px 10px 10px 15px;
    margin: 0px 0px 20px auto;
    display: block;
    width: 400px;
    border: none;
    border-radius: 20px;
    border: 1px solid grey;

    &:focus {
      outline: none;
    }
  }

  .title {
    font-size: 24px;
    margin: 10px;
  }

  .game-list-items {
    max-height: 60vh;
    overflow-y: overlay;
    border-bottom: 1px solid #777;

    &::-webkit-scrollbar {
      width: 5px;
      position: absolute;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }
  }

  .fired-button,
  .unfired-button {
    margin: 20px 0px 0 auto;
  }
}

@media (max-width: 767.98px) {
  .game-list {
    padding: 0 20px;
    margin-top: 80px;

    & > input {
      font-size: 0.75rem;
      height: 30px;
      width: 35%;
      padding-left: 10px;
      margin: 0 0 10px auto;
      transition: all 0.5s;
      &:focus {
        width: 100%;
        transition: all 0.5s;
      }
    }

    .fired-button,
    .unfired-button {
      min-height: 35px;
      height: 40px;
      width: 125px;
      border-radius: 1rem;
    }
  }
}

@media (max-height: 400px) {
  .game-list {
    padding: 0 20px;

    & > input {
      font-size: 0.75rem;
      height: 30px;
      width: 35%;
      padding-left: 10px;
      margin: 0 0 10px auto;
      transition: all 0.5s;
      &:focus {
        width: 100%;
        transition: all 0.5s;
      }
    }

    .fired-button,
    .unfired-button {
      min-height: 35px;
      height: 40px;
      width: 125px;
      border-radius: 1rem;
    }
  }
}
