$base-color: #392396;
$secs-color: #ffd803;

.game-list {
  width: 100%;
  height: calc(90vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  input {
    background: none;
    color: grey;
    font-size: 18px;
    padding: 10px 10px 10px 15px;
    margin: 0px 0px 20px auto;
    display: block;
    width: 400px;
    border: none;
    border-radius: 20px;
    border: 1px solid grey;

    &:focus {
      outline: none;
    }
  }

  .title {
    font-size: 24px;
    margin: 10px;
  }

  .game-list-items {
    max-height: 60vh;
    overflow-y: overlay;
    //border-top: 1px solid #777;

    &::-webkit-scrollbar {
      width: 5px;
      position: absolute;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }
  }

  .fired-button,
  .unfired-button {
    margin: 20px 0px 0 auto;
  }
}
