.feature {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //border: 1px solid rgb(100, 100, 100);
  border-top: 0px;
  border-bottom: 0px;
  padding: 20px;

  .title {
    font-size: 2rem;
    margin-bottom: 8px;
  }

  .text {
    line-height: 1.5;
    text-align: justify;
    height: 120px;
    margin-bottom: 16px;
  }
}
