$base-color: #7952b3;
$sub-color: #ffe484;
$button-color: #007bff;

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 80px;
  margin: 0 -60px;
  height: 250px;
  background-color: #f8f9fa !important;

  .title {
    font-size: 4.5rem;
    margin-bottom: 8px;
  }

  .text {
    line-height: 1.5;
    font-size: 1.2rem;
    text-align: justify;
  }
}

@media (max-width: 1199.98px) {
  .description {
    padding: 0 80px;
  }
}

@media (max-width: 991.98px) {
  .description {
    padding: 0 70px;
    margin: 0 -50px;
  }
}

@media (max-width: 767.98px) {
  .description {
    min-height: 100px;
    height: auto;
    padding: 20px 20px;
    margin: 0;
    .title {
      font-size: 3rem;
    }
    .text {
      font-size: 1rem;
    }
  }
}

@media (max-width: 575.98px) {
  .description {
    margin: 0;
  }
}

@media (max-width: 340px) {
  .description {
    img {
      display: none;
    }
  }
}
