.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  height: 70px;
  width: 100%;

  .title {
    font-size: 32px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
    }
  }
}
