$base-color: #7952b3;
$sub-color: #ffe484;
$button-color: #007bff;

.fired-button {
  width: auto;
  max-width: 300px;
  height: 50px;
  width: 150px;
  outline: none;
  padding: 0px 25px 0px 25px;
  letter-spacing: 0.5px;
  font-size: 15px;
  background-color: $button-color;
  border-radius: 0.25rem;
  &.important {
    background-color: $button-color;
  }
  color: #f3f3f3;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
