$base-color: #7952b3;
$sub-color: #ffe484;
$button-color: #007bff;

.unfired-button {
  //min-width: 50px;
  height: auto;
  max-width: 300px;
  height: 50px;
  width: 150px;
  margin: 15px 0px;
  //height: 50px;

  letter-spacing: 0.5px;
  padding: 0px 25px 0px 25px;
  font-size: 15px;
  background-color: rgba($base-color, 0.5);
  color: #eee;
  text-transform: uppercase;
  //font-family: "Open Sans Condensed";
  //font-weight: bolder;
  border: none;
  //border: 1px solid rgb(105, 105, 105);
}
