.endpage {
  width: 100%;

  .intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .title {
      font-size: 2rem;
      margin: 10px 0;
    }
  }
  .review {
    width: 100%;
    margin: 10px 0px;
    .review-item {
      display: flex;
      flex-direction: row;
      width: 100%;

      .option {
        border-top: 1px solid black;
        border-left: 1px solid black;
        width: 50px;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: justify;

        &.intrebare,
        &.raspuns {
          flex-grow: 6;
        }
        &.raspuns_user {
          flex-grow: 2;
        }
        &.corect {
          text-align: center;
          flex-grow: 1;
          border-right: 1px solid black;
        }
        &.id {
          text-align: center;
        }
      }
    }
    &:last-child {
      border-bottom: 1px solid black;
    }
  }
}
