.endpage {
  width: 100%;

  .intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .title {
      font-size: 2rem;
      margin: 10px 0;
    }
  }
  .review {
    width: 100%;
    margin: 10px 0px 30px 0px;
    .review-item {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      width: 100%;
      min-height: 50px;
      text-align: center;
      &:hover {
        box-shadow: inset 0px 0px 5px 0px #4c7899;
      }

      &.selected {
        border-top: 2px solid #7952b3;
        border-bottom: 2px solid #7952b3;
        text-align: center;
      }

      &.grey {
        background-color: #eeeeee;
      }

      &.first {
        text-align: center;
        .option {
          padding-top: 15px;
        }
      }

      .option {
        overflow-wrap: break-word;
        word-wrap: break-word;
        display: table-cell;
        vertical-align: middle;
        border-top: 1px solid #777;
        border-left: 1px solid #777;
        width: 50px;
        padding: 10px 5px;
        text-align: inherit;

        &.intrebare {
          flex-grow: 6;
        }
        &.raspuns_user,
        &.raspuns {
          flex-grow: 2;
        }
        &.corect {
          text-align: center;
          flex-grow: 1;
          border-right: 1px solid #777;
        }
        &.id {
          text-align: center;
        }
      }
    }
    &:last-child {
      border-bottom: 1px solid #777;
    }
  }
}

@media (max-width: 767.98px) {
  .endpage {
    margin-top: 70px;
    padding: 10px;
    .intro {
      .title {
        font-size: 1.5rem;
      }
    }
    .review {
      .review-item {
        .option {
          font-size: 0.75rem;
          width: 30px;
          &.corect {
            padding: 5px 2px;
          }
        }
        &.first {
          .option {
            padding-top: 10px;
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}
