$base-color: #7952b3;
$sub-color: #ffe484;
$button-color: #007bff;

body {
  background-color: #ffffff;
  padding: 0 60px;
  font-family: "Josefin Sans", sans-serif;
  font-size: medium;
}

@media (max-width: 1199.98px) {
  body {
    font-size: 15.5px;
  }
}

@media (max-width: 991.98px) {
  body {
    font-size: 15px;
    padding: 0 50px;
  }
}

@media (max-width: 767.98px) {
  body {
    font-size: 14.5px;
    padding: 0;
  }
}

@media (max-width: 575.98px) {
  body {
    font-size: 15px;
    padding: 0;
  }
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
